<div class="hero is-success is-fullheight is-align-items-center">
  <div class="hero-body">
    <div class="has-text-centered">
      <p class="title is-size-1">BAPS</p>
      <p class="subtitle is-size-5">Better Artist Page Spotify</p>
      <p class="subtitle">
        By: <a class="is-underlined" href="https://github.com/lyonelz96" target="_blank">lyonelz96</a>
        |
        Code: <a class="is-underlined" href="https://github.com/lyonelz96/baps" target="_blank">Github</a>
      </p>
      <p class="subtitle">
      </p>
      <%= button_to "Login with Spotify", 
        "/auth/spotify", 
        method: :post, 
        class: "button is-medium", 
        data: {turbo: false} %>
    </div>
  </div>
</div>
