<div class="column is-one-fifth-desktop is-one-third-tablet">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">
        <span class="artist-name" style="white-space: nowrap;">
          <%= artist["name"] %>
        </span>
      </div>
    </div>

    <div class="card-image">
      <figure class="image is-square">
        <img src="<%= artist["images"].first["url"] %>" alt="Artist Image">
      </figure>
    </div>

    <div class="card-content has-text-centered">
      <span class="artist-followers">
        <%= number_with_delimiter(artist["followers"]["total"]) %> Followers
      </span>
    </div>

    <div class="card-footer">
      <div class="card-footer-item">
        <a href="<%= artist["external_urls"]["spotify"]%>" target="_blank">Spotify</a>
      </div>
    </div>
  </div>
</div>
